/* 페이지 기본 설정 */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* 페이지 요소들을 세로로 배치 */
    align-items: center; /* 모든 요소를 중앙 정렬 */
    min-height: 100vh;
}

/* 영화 리스트 섹션 */
h1 {
    width: 100%; /* 제목이 페이지 전체 너비를 차지하도록 설정 */
    text-align: center; /* 중앙 정렬 */
    color: #333;
    font-size: 36px; /* 글자 크기 크게 설정 */
    font-weight: bold; /* 글자 진하게 설정 */
    margin: 20px 0; /* 제목 위아래에 여백 추가 */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;  /* 한 줄에 두 개씩 배치하고 넘칠 경우 다음 줄로 넘김 */
    justify-content: center;  /* 항목들을 중앙에 정렬 */
}

li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 200px;  /* 카드의 너비를 줄여서 한 줄에 두 개가 들어가게 설정 */
    text-align: center;
    transition: transform 0.3s;
}

li:hover {
    transform: translateY(-10px);
}

img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;  /* 이미지가 카드 너비에 맞게 조절되도록 설정 */
}

/* 영화 제목 링크 스타일 */
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 18px;
}

a:hover {
    color: #0056b3;
}
